.layout {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-width: fit-content;
  min-height: 100vh;
  background-image: url("../../../public/images/bg-image.jpg");
  background-size: cover;
}

.main {
  padding: 0 0;
}