.layout {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-width: fit-content;
  min-height: 100vh;
  background-image: url("https://res-console.cloudinary.com/dei6yb0qs/thumbnails/v1/image/upload/v1720741415/MzYyRTlDNkItRTgwNi00RUY3LTk5OUQtM0IyRjc4MTkwNDZEX3dxdWxtbg==/drilldown");
  background-size: cover;
}

.main {
  padding: 3em 0;
}